---
- name: Check if certificate already exists.
  stat:
    path: /etc/letsencrypt/live/{{ cert_item.domains | first }}/cert.pem
  register: letsencrypt_cert

- name: Stop services to allow certbot to generate a cert.
  become: True
  service:
    name: "{{ item }}"
    state: stopped
  when: not letsencrypt_cert.stat.exists
  with_items: "{{ certbot_create_standalone_stop_services }}"

- name: Generate new certificate if one doesn't exist.
  become: True
  shell: "{{ certbot_create_command }}"
  when: not letsencrypt_cert.stat.exists

- name: Start services after cert has been generated.
  become: True
  service:
    name: "{{ item }}"
    state: started
  when:
    - not letsencrypt_cert.stat.exists
    - certbot_create_standalone_stop_services
  with_items: "{{ certbot_create_standalone_stop_services }}"
